

        <div class="col-md-12">
          <div class="card">
            <div class="">
              <div class="row">
                <div class="col-lg-3 border-right pr-0">

                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">

                        <!-- checkbox -->

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="card-body b-l calender-sidebar">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


