
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <a routerLink="/contrat/listContrat" style="margin-bottom: 20px ; " class="btn waves-effect waves-light btn-outline-warning">
          <i class="fa fa-angle-left" style="font-size:18px"></i>&nbsp;Retour
        </a>
        <h1>Add Contrat</h1>
        <form   (ngSubmit)="onSubmit()" class="mt-auto">
          <label class="mr-sm-2">Date debut</label>
          <div class="form-group">

            <mat-form-field color="accent" appearance="legacy">
              <mat-datepicker-toggle matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
              <input  matInput [matDatepicker]="picker1"  class="form-control" name="dateDebutContrat" [(ngModel)]="contrat.dateDebutContrat">

              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

          </div>
          <label class="mr-sm-2">Date fin</label>
          <div class="form-group">

            <mat-form-field color="accent" appearance="legacy">
              <mat-datepicker-toggle matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
              <input  matInput [matDatepicker]="picker2"  class="form-control" name="dateDebutContrat" [(ngModel)]="contrat.dateFinContrat">

              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="form-group">
            <label class="mr-sm-2">Archive</label>
            <input type="text" class="form-control"  name="archive" [(ngModel)]="contrat.archive">
          </div>
          <div class="form-group">
            <label class="mr-sm-2">Montant</label>
            <input type="number" class="form-control"
                   [(ngModel)]="contrat.montantContrat" name="montantContrat">
          </div>
          <div class="form-group mb-4">
            <label class="mr-sm-2" for="specialite">Specialite</label>
            <select class="custom-select mr-sm-2" id="specialite" [(ngModel)]="contrat.specialite" name="specialite" >
              <option [ngValue]="null" selected>Choisir votre specialite</option>
              <option *ngFor="let sp of specialite | keyvalue" [ngValue]="sp.value">{{sp.value}}</option>
            </select>


          </div>

          <button type="submit"   class="btn btn-outline-success">
            <i class="fa fa-plus"></i>
          Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

