<form [formGroup]="reactiveForm">

    <div class="card-body">
        <h4 class="card-title">Nom Universite</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text"formControlName="nomUniv" class="form-control" name="nomUniv"  id="nomUniv">
            </div>
            <div class="alter alter-danger" id="updateField" *ngIf="nomUniv?.errors?.['required'] && nomUniv?.touched" > idDepart is required</div>
    
        </div >
    </div>
 <div *ngFor="let filehandle of myUniv.images">
    
    <img src="data:{{filehandle.type}};base64,{{filehandle.picByte}}">
     
 </div>
    <button type="submit" class="btn btn-primary" (click)="update()">update </button>
    
</form>